.header
  .header__content 
    = link_to reviews_path, target: "_top" do
      = image_tag 'logo.png', style: "max-height:60px;"
  %ul{id:"dropmenu",style:"clear:both;"}
    %li
      %a Menu
      %ul
        %li
          = link_to "Review", new_review_path
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete
        %li
          = link_to "Sign up", new_user_registration_path
        %li
          = link_to "Log in", new_user_session_path