.header
  .header__content 
    = link_to reviews_path, target: "_top" do
      = image_tag 'logo.png', style: "max-height:60px;"
  %ul.menu
    %li.menu__single
      %a.init-bottom{:href => "#"} Menu
      %ul.menu__second-level
        %li
          = link_to "Review", new_review_path
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete
        %li
          = link_to "Sign up", new_user_registration_path
        %li
          = link_to "Log in", new_user_session_path
