.wrapper
  = render "templete/header"
  .banner
    .search-bar
      .search-bar__text chug it
      .search-bar__box
        .search-bar__box--form
          %input{type:"text", class: "search"}
          %button{type:"submit", class: "submit", value: ""}
  .main-contents
    .reviews
      %h1.review Latest
      .reviews__list
        - @reviews.each do |review|
          .review
            .review__image
            .review__brand
              %h2.brand
                = review.maker
            .review__item-name
              %h2.name
                = review.name
            .review__score
              %h2.score
                = (review.sweetness + review.sourness + review.bitterness + review.sharpness + review.richness)
                ／50点
      %h1.review Your reviews
      .reviews__list
        - @your_reviews.each do |review|
          .review
            .review__image
            .review__brand
              %h2.brand
                = review.maker
            .review__item-name
              %h2.name
                = review.name
            .review__score
              %h2.score
                = (review.sweetness + review.sourness + review.bitterness + review.sharpness + review.richness)
                ／50点
  = render "templete/footer"