.wrapper
  = render "templete/header"
  .review-detail
    = form_with model: @review, url: reviews_path, class: "review-form", method: :post do |f|
      .review-detail__images
      .review-detail__score
        .review-detail__score--forms
          .score-box
            = f.label :name, "商品名", class: "review-label"
            = f.text_field :name, placeholder: "例) 一番搾り", type: "text", value: "", class:"item-name"
          .score-box
            = f.label :maker, "メーカー", class: "review-label"
            = f.text_field :maker, placeholder: "例) キリンビール", type: "text", value: "", class:"item-maker"
          .score-box
            = f.label :text, "レビュー本文", class: "review-label"
            = f.text_field :text, placeholder: "例) 男は黙ってサッポロビール", type: "text", value: "", class:"item-text"
          .score-box
            = f.label :sharpness, "キレ", class: "review-label"
            = f.select :sharpness, [1,2,3,4,5] ,class:"taste-score"
          .score-box
            = f.label :richness, "コク", class: "review-label"
            = f.select :richness, [1,2,3,4,5] ,class:"taste-score"
          .score-box
            = f.label :sourness, "酸味", class: "review-label"
            = f.select :sourness, [1,2,3,4,5] ,class:"taste-score"
          .score-box
            = f.label :bitterness, "苦味", class: "review-label"
            = f.select :bitterness, [1,2,3,4,5] ,class:"taste-score"
          .score-box
            = f.label :sweetness, "甘み", class: "review-label"
            = f.select :sweetness, [1,2,3,4,5] ,class:"taste-score"
          .submit-btn
            = f.submit "投稿する", class: "review-submit"
  = render "templete/footer"