.wrapper
  = render "templete/header"
  .review-detail
    .review-detail__box
      .review-info
        %ul
          %li.daytime{style:"display:flex;"}
            %p 投稿日：
            = @review.created_at.strftime("%Y/%m/%d %H:%M")
          %li.nickname{style:"display:flex;"}
            %p 投稿者：
            = @review.user.nickname
      .review-images
        = image_tag @review.image, style: "object-fit:contain; max-width:400px;"
      .review-description
        .score-box
          %h3.review 商品名
          .score-box__text
            = @review.name
        .score-box
          %h3.review メーカー
          .score-box__text
            = @review.maker
        .score-box
          %h3.review レビュー本文
          .score-box__text
            = @review.text
      .review-score
        .score-boxes
          .score-box
            %h3.review キレ
            .score-box__text
              = @review.sharpness
          .score-box
            %h3.review コク
            .score-box__text
              = @review.richness
          .score-box
            %h3.review 酸味
            .score-box__text
              = @review.sourness
          .score-box
            %h3.review 苦味
            .score-box__text
              = @review.bitterness
          .score-box
            %h3.review 甘味
            .score-box__text
              = @review.sweetness
        .score-chart
          %canvas(id="myChart" width="400" height="400")
      .buttons
        - if user_signed_in?
          - if @review.user_id == current_user.id
            .submit-btn
              = link_to "編集する", edit_review_path
            .delete-btn
              = link_to "削除する", review_path, method: :delete
            .back-btn
              = link_to "戻る", reviews_path
          - else
            .back-btn
              = link_to "戻る", reviews_path
        - else
          .back-btn
            = link_to "戻る", reviews_path
  = render "templete/footer"
  %script{:crossorigin => "anonymous", :integrity => "sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=", :src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"}
  :javascript
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
          labels: ["キレ", "コク", "酸味", "苦味", "甘味"],
          datasets: [{
            data: gon.score,
            backgroundColor: ['rgba(255, 198, 11, 0.2)'],
            borderColor: ['rgba(255, 198, 11, 1)'],
            borderWidth: 1
            }]
          },
        options: {
          responsive: true,
          legend: {
            display: false
          },
          scale: {
            pointLabels: {
              fontSize: 15
            },
            ticks: {
              stepSize: 1,
              max: 10,
              beginAtZero: true
            }
          }
        }
      });